<div class="base">
    <form class="base__factura">
        <div class="header__factura">
            <app-header-factura />

            <div class="factura__info">
                <div class="separador">
                    <label>Número de factura</label>
                    <span>00000001</span>
                </div>
                <div class="separador">
                    <label>Fecha</label>
                    <span>12/12/2025</span>
                </div>
                <div class="separador">
                    <label>Fecha de vencimiento</label>
                    <span>12/12/2025</span>
                </div>
                <div class="container__btn">
                    <div class="separador">
                        <button type="submit">
                            <span>💾</span>
                            Guardar
                        </button>
                    </div>
                    <div class="separador">
                        <button type="button">
                            <span>➕</span>
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
            <div class="nit__info">
                <div class="separador">
                    <label>Nit del cliente</label>
                    <input type="text">
                </div>
                <div class="separador">
                    <label>Cupo</label>
                    <span>12/12/2025</span>
                </div>
                <div class="separador">
                    <label>Plazo</label>
                    <span>12/12/2025</span>
                </div>
                <div class="separador">
                    <label>Cartera</label>
                    <span>00000001</span>
                </div>
                <div class="separador">
                    <label>Disponible</label>
                    <span>12/12/2025</span>
                </div>
            </div>
            <fieldset>
                <div class="articulo__info">
                    <div class="separador">
                        <label>Cod. artículo</label>
                        <input type="text">
                    </div>
                    <div class="separador">
                        <label>Nombre</label>
                        <span>12/12/2025</span>
                    </div>
                    <div class="separador">
                        <label>Laboratorio</label>
                        <span>12/12/2025</span>
                    </div>
                    <div class="separador">
                        <label>Naturaleza</label>
                        <select>
                            <option value="-" selected>➖</option>
                            <option value="+">➕</option>
                        </select>
                    </div>
                    <div class="separador">
                        <label>Saldo</label>
                        <span>12/12/2025</span>
                    </div>
                </div>
                <div class="articulo__info">
                    <div class="separador">
                        <label>Unidades</label>
                        <input type="number">
                    </div>
                    <div class="separador">
                        <label>Costos</label>
                        <span>12/12/2025</span>
                    </div>
                    <div class="separador">
                        <label>Precio venta</label>
                        <span>12/12/2025</span>
                    </div>
                    <div class="separador">
                        <label>Total costo</label>
                        <span>12/12/2025</span>
                    </div>
                    <div class="separador">
                        <label>Total venta</label>
                        <span>00000001</span>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
