<div class="base">
    <div class="base__factura">
        <div class="header__factura">
            <app-header-factura />

            <div class="factura__info">
                <div class="separador">
                    <label>Número de factura</label>
                    <span>{{ consecutivo }}</span>
                </div>
                <div class="separador">
                    <label>Fecha</label>
                    <span>{{ fecha }}</span>
                </div>
                <div class="separador">
                    <label>Fecha de vencimiento</label>
                    @if (fechaVence) {
                    <span>{{ fechaVence }}</span>
                    } @else {
                    <span></span>
                    }
                </div>
                <div class="container__btn">
                    <div class="separador">
                        <button
                            type="submit"
                            [disabled]="blockGuardar"
                            (click)="enviarFactura()"
                        >
                            <span>💾</span>
                            Guardar
                        </button>
                    </div>
                    <div class="separador">
                        <button
                            type="button"
                            (click)="agregarKrdx()"
                            [disabled]="blockAgregar"
                        >
                            <span>➕</span>
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
            <form class="nit__info" [formGroup]="getForm(nomForms.cliente)">
                <div
                    class="separador separador__modDesp"
                    (mouseleave)="desplegarResultados($event)"
                    (mouseenter)="desplegarResultados($event)"
                >
                    <label>Nit del cliente</label>
                    <input
                        type="text"
                        formControlName="documento"
                        id="documento"
                        (input)="getNits($event)"
                        autocomplete="off"
                        placeholder="Campo obligatorio"
                    />
                    @if(listDespNits) {
                    <ul>
                        @for (d of listClientes; track $index) {
                        <li (click)="selectCliente(d)">{{ d.nitDoc }}</li>
                        }
                    </ul>
                    }
                </div>
                @if(cliente){
                <div class="separador">
                    <label>Cupo</label>
                    <span>$ {{ cliente.nitCupo }}</span>
                </div>
                <div class="separador">
                    <label>Plazo días</label>
                    <span>{{ cliente.nitPlazo }}</span>
                </div>
                <div class="separador">
                    <label>Cartera</label>
                    <span
                        [style]="{
                            'background-color': cupoAlcanzado ? 'red' : 'white'
                        }"
                        >$ {{ cliente.nitCartera }}</span
                    >
                </div>
                <div class="separador">
                    <label>Disponible</label>
                    <span
                        [style]="{
                            'background-color': cupoAlcanzado ? 'red' : 'white'
                        }"
                        >$ {{ disponible }}</span
                    >
                </div>
                } @else {
                <div class="separador">
                    <label>Cupo</label>
                    <span></span>
                </div>
                <div class="separador">
                    <label>Plazo</label>
                    <span></span>
                </div>
                <div class="separador">
                    <label>Cartera</label>
                    <span></span>
                </div>
                <div class="separador">
                    <label>Disponible</label>
                    <span></span>
                </div>
                }
            </form>
            <form
                class="form__articulo"
                [formGroup]="getForm(nomForms.articulo)"
            >
                <div class="articulo__info">
                    <div
                        class="separador separador__modDesp"
                        (mouseleave)="desplegarResultados($event)"
                        (mouseenter)="desplegarResultados($event)"
                    >
                        <label>Cod. artículo</label>
                        <input
                            type="text"
                            formControlName="codigo"
                            id="codigo"
                            autocomplete="off"
                            (input)="getArticulos($event)"
                            placeholder="Campo obligatorio"
                            min="0"
                        />
                        @if(listDespArticulos) {
                        <ul>
                            @for (a of listArticulos; track $index) {
                            <li (click)="selectArticulo(a)">
                                {{ a.artCod }} {{ a.artNom }}
                            </li>
                            }
                        </ul>
                        }
                    </div>
                    @if (articulo) {
                    <div class="separador">
                        <label>Nombre</label>
                        <span>{{ articulo.artNom }}</span>
                    </div>
                    <div class="separador">
                        <label>Laboratorio</label>
                        <span>{{ articulo.artLab }}</span>
                    </div>
                    } @else {
                    <div class="separador">
                        <label>Nombre</label>
                        <span></span>
                    </div>
                    <div class="separador">
                        <label>Laboratorio</label>
                        <span></span>
                    </div>
                    }
                    <div class="separador">
                        <label>Naturaleza</label>
                        <select
                            (change)="obtenerNaturaleza($event)"
                            formControlName="naturaleza"
                            id="naturaleza"
                        >
                            <option
                                value="-"
                                [defaultSelected]="opcNaturalezas.negativa"
                            >
                                ➖ Salida
                            </option>
                            <option value="+">➕ Ingreso</option>
                        </select>
                    </div>
                    @if (articulo) {
                    <div class="separador">
                        <label>Saldo</label>
                        <span
                            [style]="{
                                'background-color': saldoAlcanzado
                                    ? 'red'
                                    : 'white'
                            }"
                            >{{ saldo < 1 ? 0 : saldo }}</span
                        >
                    </div>
                    } @else {
                    <div class="separador">
                        <label>Saldo</label>
                        <span></span>
                    </div>
                    }
                </div>
                <div class="articulo__info">
                    <div class="separador">
                        <label>Unidades</label>
                        <input
                            type="number"
                            formControlName="unidades"
                            id="unidades"
                            (input)="calcularTotalesArticulo()"
                            placeholder="Campo obligatorio"
                            min="1"
                        />
                    </div>
                    @if (articulo) {
                    <div class="separador">
                        <label>Costo unidad</label>
                        @if (naturaleza) {
                        <input
                            type="number"
                            formControlName="costos"
                            id="costos"
                            (input)="calcularTotalesArticulo()"
                            placeholder="Campo opcional"
                            min="1"
                            max="{{ articulo.artPrecVenta }}"
                        />
                        } @else {
                        <span>{{ articulo.artCosto }}</span>
                        }
                    </div>
                    <div class="separador">
                        <label>Precio venta unidad</label>
                        @if (!naturaleza) {
                        <input
                            type="number"
                            formControlName="precioVenta"
                            id="precioVenta"
                            (input)="calcularTotalesArticulo()"
                            placeholder="Campo opcional"
                        />
                        } @else {
                        <span>0</span>
                        }
                    </div>

                    <div class="separador">
                        <label>Total costo</label>
                        <span>$ {{ totalCostos }}</span>
                    </div>
                    @if (!naturaleza) {
                    <div class="separador">
                        <label>Total venta</label>
                        <span
                            [style]="{
                                'background-color': cupoAlcanzado
                                    ? 'red'
                                    : 'white'
                            }"
                            >$ {{ totalVentas }}</span
                        >
                    </div>
                    }@else {
                    <div class="separador">
                        <label>Total venta</label>
                        <span>$ 0</span>
                    </div>
                    } } @else {
                    <div class="separador">
                        <label>Total costo</label>
                        <span></span>
                    </div>
                    <div class="separador">
                        <label>Total venta</label>
                        <span></span>
                    </div>
                    }
                </div>
            </form>
        </div>

        <app-grilla-factura
            [data]="listKardex"
            (codEliminar)="eliminarCodKrdx($event)"
        />

        <div class="barra__totales">
            <div class="img__container">
                <img src="logo.png" alt="" />
                <h1>Profact</h1>
            </div>
            <div class="totales">
                <label>Total costos</label>
                <span>$ {{ totalCostosFact }}</span>
            </div>
            <div class="totales">
                <label>Total venta</label>
                <span>$ {{ totalVentasFact }}</span>
            </div>
        </div>
    </div>
</div>
